@page
@model Tour_De_France.Pages.LogIn.LogInModel
@{
}
<div class="container zealand">
    <form method="post">
        <div class="form-group">
            <p>Navn</p>
            <div>
                <input id="login-name" asp-for="Name" />
            </div>
        </div>
        <div class="form-group">
            <p>Kodeord</p>
            <div>
                <input id="login-password" asp-for="Password" />
            </div>
        </div>
        <div class="form-group">
            <button id="login-knap" class="btn btn-primary">Log ind</button>
        </div>
        <div style="color: red;">
                @Model.Message
            </div>
    </form>
</div>