@page
@model Tour_De_France.Pages.LogIn.LogInModel
@{
}
<div class="container zealand">
    <form method="post">
        <div class="form-group">
            <p>Navn</p>
            <div>
                <input asp-for="Name" />
            </div>
        </div>
        <div class="form-group">
            <p>Kodeord</p>
            <div>
                <input asp-for="Password" />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Log in</button>
        </div>
        <div style="color: red;">
                @Model.Message
            </div>
    </form>
</div>