@page "{id:int}"
@model Tour_De_France.Pages.Parkeringsplads.DeleteParkeringspladsModel
@{
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Er du sikker på du vil slette denne Parkeringsplads? - @Model.ParkingPlads.ppId</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/Parkeringsplads/GetParkeringspladser">Nej</a>
    </form>
</div>