@page
@using Tour_De_France.Models
@model Tour_De_France.Pages.Parkeringsplads.ParkeringspladsinfoModel
@{
}


<h3>Parkeringsplads Information</h3>
<p> Til Tour De France arrangementet kan du reserver en parkeringsplads, der 90 parkeringspladser i alt på skolen, så der må deles om dem.</p>
<p> Det betyder der er et første til mølle-princip, dog kan du kun booke 1 parkeringsplads pr. person, til gengæld er den helt gratis.</p>
<p> Husk at parkeringspladsen gælder kun så længe arrangementet er i gang. </p>

<br />

<p> Ønsker du en parkeringsplads?</p>
<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Book en her" asp-page="CreateParkeringspladser"><i class="fa fa-plus-square mr-1"></i> Book en parkeringsplads her </a>
</p>

@*<p> Antal ledige parkeringspladser tilbage:</p>*@



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <a asp-page="/Parkeringsplads/GetParkeringspladser">Parkeringsplads oversigt</a>
</div>