@page "{id:int}"
@model Tour_De_France.Pages.Deltager.DeletePasswordModel
@{
}
<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Deltager.Password</h5>
    <form method="post">
        <p>
            <a type="submit" class="btn btn-danger" data-toggle="tooltip" title="Delete Password" asp-page="/Deltager/ChangePassword" asp-route-id="@Model.Deltager.DeltagerId"><i class="fa fa-trash"></i> Nulstil! </a>
        </p>
    </form>
</div>