@page "{id:int}"
@model Tour_De_France.Pages.Togafgange.DeleteTogafgangeModel
@{
}
<h1>Bekræft at du vil slette denne togafgang?></h1>
<div class="alert alert-danger">
    <h5>Du er igang med at slette togafgangen i tiden @Model.Togafgang.TogafgangId</h5>
    <h5>Sikker på at du vil slette det? - @Model.Togafgang.TogafgangId</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Tribune/GetTribune">No</a>
    </form>
</div>