@using Tour_De_France.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tour_De_France</title>
    <link rel="stylesheet" href="~/css/EventCss.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<header>
    <nav id="testunit" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Event/GetEvent"> <img id="homepage" src="Images/zealand logo.jpg"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area=""asp-page="/Togafgange/GetAllTogafgange">Togafgange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=""asp-page="/Tribune/GetTribune">Tribune</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=""asp-page="/Spisetelt/GetAllSpisetelt">Spisetelt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=""asp-page="/Musiktelt/GetAllMusiktelt">Musiktelt</a>
                    </li>
                    @{
                        if (Context.User.Identity.Name != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area=""asp-page="/Parkeringsplads/Parkeringspladsinfo">Parkering</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="vip" asp-area=""asp-page="/VIP/VIPOgMenu">VIP</a>
                            </li>
                        }
                    }
                    @*@{
                        if (Context.User.Identity.Name == "admin")
                        {*@
                            <li class="nav-item">
                                <a class="nav-link" asp-area=""asp-page="/Admin/CreateDeltager">Opret Bruger</a>
                            </li>
                        @*}
                    }*@
                </ul>
                <ul class="navbar-nav" style="position: relative; left: 50px; top: 8px;">

                    @{
                        if (Context.User.Identity.Name == null)
                        {
                            <li class="nav-item" style="position: relative; left: 25px; top: -8px;">
                                <a class="nav-link" id="knap-til-login" asp-area="" asp-page="/LogIn/LogIn">Log ind</a>
                            </li>
                        }
                        else
                        {
                            if (Context.User.Identity.Name != null)
                            {
                                <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Deltager/Konto"> Konto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/VIP/VIPKvittering">Min VIP </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Event/EventKvittering">Mine Events</a>
                                </li>
                                <p class="navbar-text nav-item">Bruger: @Context.User.Identity.Name</p>
                            }
                            <li class="nav-item" style="position: relative; left: 25px;">
                                <a class="nav-link" asp-area="" asp-page="/LogIn/LogOut"> Log ud </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Tour_De_France - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
