@page
@model Tour_De_France.Pages.Event.CreateEventModel
@{
}
<style type="text/css">.form-gruop { }</style>
<form method="post">
    <div class="form-gruop">
        <label asp-for="@Model."></label>
         
    </div>

</form>