@page "{id:int}"
@model Tour_De_France.Pages.Event.DeleteEventModel
@{
}
<body class="zealand"></body>
<body class="zealand">
</body>
<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Event.Titel</h5>
    <h5>Are you sure you want to delete Item - @Model.Event.EventId</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Event/GetEvent">No</a>
    </form>
</div>