@page
@model Tour_De_France.Pages.VIP.OrderVIPSammenMedMenuModel
@{
}
<h1>Køb VIP + Menu</h1>

<div class="row">
    <div class="col-md-4">
        <div>
            Deltager: @Model.Deltager.Name
        </div>
        <div>
            VIP Menu: @Model.VIP.Titel
        </div>
        <div>
            Vil du gerne have champagne menu? <input asp-for="@Model.Champagne" class="form-control" />
        </div>

        <form method="post">
            <p>Køb <input asp-for="@Model.Count" class="form-control" /></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../VIP/VIPKvittering"></a>
</div>